[Unit]
Description=/usr/bin/daemon-easy-gpio.sh Compatibility
ConditionPathExists=/usr/bin/daemon-easy-gpio.sh 
#Wants=network.target network.online.target

[Service]
Type=forking
ExecStart=/usr/bin/daemon-easy-gpio.sh 
TimeoutSec=0

[Install]
WantedBy=multi-user.target
